<li class="AccountListItem">
  <div class="AccountListItemLogoWrapper" style="background: <%= provider_color(provider) %>;">
    <%= provider_image(provider) %>
    <div class="AccountListItemAmount">
      <%= amount.format %>
    </div>
  </div>
  <div class="AccountListItemName">
    <%= link_to name, account_path(id) %>
  </div>
  <div class="AccountListItemLastUpdate">
    Last update: <%= l last_update, format: :short %>
  </div>
</li>
