<header class="Header">
  <div class="Wrapper">
    <div class="Logo">
      <%= image_tag "menthol.png", height: 40 %>
      menthol
    </div>
    <div class="TotalLabel">Total assets</div>
    <div class="Total">
      <%= @accounts.reduce(Money.new(0, @accounts.first.currency)) { |m,a| m + Money.new(a.amount_subunit, a.currency) }.format %>
    </div>
  </div>
</header>

<div class="Wrapper">
  <ul class="AccountList">
    <%= render_account_as_book(@account) %>
  </ul>
</div>

<div class="Wrapper">
  <%= form_for @account, html: { multipart: true } do |f| %>
    <%= file_field_tag :transactions %>
    <%= f.submit %>
  <% end %>

  <ul class="TransactionList">
    <% @transactions.each do |transaction| %>
      <% if transaction.paired_transaction? %>
        <% if transaction.kind == "debit" %>
          <li class="TransactionItem">
            <div class="TransactionItemTime"><%= l(transaction.created_at, format: :long).upcase %></div>
            <span class="TransactionItemTransferAmount"><%= transaction.amount.format %></span>
            <span class="TransactionItemDescription">
              Transfer
              from <strong><%= transaction.account.provider %> <%= transaction.account.name %></strong>
              to <strong><%= transaction.paired_transaction.account.provider %> <%= transaction.paired_transaction.account.name %></strong>
            </span>
          </li>
        <% else %>
          <li class="TransactionItem">
            <div class="TransactionItemTime"><%= l(transaction.created_at, format: :long).upcase %></div>
            <span class="TransactionItemTransferAmount"><%= transaction.amount.format %></span>
            <span class="TransactionItemDescription">
              Transfer
              from <strong><%= transaction.paired_transaction.account.provider %> <%= transaction.paired_transaction.account.name %></strong>
              to <strong><%= transaction.account.provider %> <%= transaction.account.name %></strong>
            </span>
          </li>
        <% end %>
      <% else %>
        <li class="TransactionItem">
          <div class="TransactionItemTime"><%= l(transaction.created_at, format: :long).upcase %></div>
          <span class="TransactionItem<%= transaction.kind.capitalize %>Amount"><%= transaction.amount.format %></span>
          <span class="TransactionItemDescription">
            <%= transaction.description %>
          </span>
          <span class="TransactionItemChannel">(<%= transaction.channel %>)</span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
